{{ $item := .item }}
{{ $widget := .widget }}

{{ $do_link := true }}
{{ if $item.Params.external_link | or $item.Content }}
  {{ $do_link = true }}
{{ else }}
  {{ $do_link = false }}
{{ end }}

{{ $link := .link }}
{{ $target := .target }}

{{ $order := "" }}
{{ if and ($widget.Params.design.flip_alt_rows | default true) (not (modBool .index 2)) }}
  {{ $order = "order-md-2" }}
{{ end }}

{{ $js_tag_classes := delimit (apply (apply $item.Params.tags "replace" "." " " "-") "printf" "js-id-%s" ".") " " }}

<style type="text/css">
  p.small{font-size: 16px; line-height:1.4;margin-top: 0 ;margin-bottom: 0.01 ;}
  p.big{font-size: 24px; line-height:1.3;margin-top: 0 ;margin-bottom: 0;}
</style>

<div class="col-lg-12 project-item isotope-item {{ $js_tag_classes | safeHTMLAttr }}" itemscope itemtype="http://schema.org/CreativeWork">
  <div class="row align-items-center">
    <div class="col-12 col-md-6">
      <p class="big" itemprop="name">
        {{- if $do_link}}<a href="{{ $link }}" {{ $target | safeHTMLAttr }} itemprop="url">{{end -}}
          <strong>{{ $item.Title | markdownify | emojify }}</strong>
        {{- if $do_link}}</a>{{end -}}
      </p>
      <!-- <div class="article-style" itemprop="articleBody"> -->
       <p class="small"> <strong>{{ $item.Params.author1  | markdownify | emojify }}</strong> , {{ $item.Params.author_other  | markdownify | emojify }}
       <br>
       <a href="{{$item.Params.conflink}}" style="color:#6f6f70;"><i>{{ $item.Params.confname  | markdownify | emojify }} </i></a>
       </p>
      <!-- </div> -->
      
      {{ $summary := "" }}
      {{ if $item.Params.summary }}
        {{ $summary = $item.Params.summary }}
      {{ else if $item.Truncated }}
        {{ $summary = $item.Summary }}
      {{ end }}
      {{ with $summary }}
      <div class="article-style" itemprop="articleBody"><font size="5" style="line-height:1;">
       <p class="small"> {{ . | markdownify | emojify }} </p>
      </font>
      </div>
      {{ end }}

      <div class="btn-links">
        {{ partial "page_links" (dict "page" $item "is_list" 0) }}
      </div>

    </div>
    <div class="col-12 col-md-6 order-first {{$order}}">
      {{ $resource := ($item.Resources.ByType "image").GetMatch "*featured*" }}
      {{ with $resource }}
      {{ $image := .Resize "560x" }}
      {{if $do_link}}<a href="{{ $link }}" {{ $target | safeHTMLAttr }}>{{end}}
        <img src="{{ $image.RelPermalink }}" itemprop="image" alt="">
      {{if $do_link}}</a>{{end}}
      {{end}}
      {{if $item.Params.YouTube_link}}<iframe width="560" height="315" src="{{ $item.Params.YouTube_link }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>{{end}}
    </div>
  </div>
</div>
